<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Currency Converter</title>
    <link rel="stylesheet" type="text/css" th:ref="@{/style.css}"></link>
  </head>

  <body onload='document.f.username.focus();'>
    
    <form name='f' th:action='@{/login}' method='POST'>
      <label for="username">Username:</label>
      <input type="text" name="username"></input><br/>
      <label for="password">Password:</label>
      <input type="password" name="password"></input><br/>
      <input id="remember_me" name="remember-me" type="checkbox"/>
      <label for="remember_me" class="inline">Remember me</label>
      <input name="submit" type="submit" value="Login"/>
    </form>

  	<a th:href="@{/register}">Register</a>
  </body>
</html>



